@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark],[data-theme=dark] *));

@theme{
  --font-display: 'Inter', sans-serif;
  --color-primary: #4635b1;
  --color-background: #141122;
}